.card {
	padding: 0;
	width: auto;
	height: auto;
	border: 3px solid #f00;

	text-align: center;

	color: var(--third-clr);
	background-color: var(--main-clr);

	transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.card ul {
	list-style-position: inside;
}

.card a {
	text-decoration: none;
	color: inherit;
}

.card img {
	height: 140px;
}

.card p {
	font-size: 1rem;
	font-weight: 700;
}
