.searchBar {
	width: 50%;
	padding: 1rem 0;
	margin: 0 auto;
	text-align: center;
}

.searchBar p {
	font-weight: 500;
	font-size: 1.15rem;
}

.searchBar input {
	height: 2rem;
	margin-right: 0.5rem;
	font-size: 1.2rem;
}

.searchBar .searchIcon {
	margin-left: 0.6rem;
	color: var(--second-clr);
	font-size: 2rem;
	transform: translateY(10px);
	cursor: pointer;
}

/* NUEVOS AVISOS DE ERRORES */

#nonPokemon,
#repeatedPoke {
	position: fixed;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	backdrop-filter: blur(20px);
}
#nonPokemon div,
#repeatedPoke div {
	padding: 10px;
	width: 350px;
	height: 350px;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	font-family: sans-serif;
	color: #fff;
	background-color: #dd2c00;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
#nonPokemon div img,
#repeatedPoke div img {
	width: 200px;
}
#nonPokemon div .clue,
#repeatedPoke div .clue {
	font-style: italic;
	font-size: 1.15rem;
}
#nonPokemon.error,
#repeatedPoke.error {
	background-color: transparent;
}
#nonPokemon.fade-in,
#repeatedPoke.fade-in {
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards;
}
#nonPokemon.fade-out,
#repeatedPoke.fade-out {
	opacity: 1;
	animation: fadeOutAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOutAnimation {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
