.card.one {
	padding: 0.5rem;
	width: 200px;
	height: 320px;
	text-align: center;

	color: var(--third-clr);
	background-color: var(--main-clr);
	transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.card.one ul {
	list-style-position: inside;
}

.card.one a {
	text-decoration: none;
	color: inherit;
}

.card.one img {
	height: 60%;
}
