.formPokemon {
	padding: 2rem 0 0;
	/* color: var(--third-clr); */
	background-color: var(--second-clr);
	/* text-align: center; */
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	align-items: center;
	gap: 2rem;
}

/* FORM */
.formPokemon h1,
.formPokemon h3 {
	color: var(--fourth-clr);
	text-align: center;
}

.formPokemon form {
	padding: 2rem;
	width: 70%;
	min-width: 300px;
	max-width: 550px;
	margin: 0 0 2rem;
	font-size: 1.05rem;
	font-weight: 500;
	color: var(--third-clr);
	background-color: var(--fourth-clr);
}

.formPokemon .form-group {
	margin-bottom: 1rem;
}

.formPokemon .form-group .classic-input {
	width: 100%;
	height: 2rem;
	margin: 0.5rem auto 0;
	font-size: 1rem;
	color: #000;

	display: block;
}

.formPokemon .clue {
	font-weight: 600;
	font-size: 0.8rem;
	font-style: italic;
}

.formPokemon .warning {
	color: orange;
	font-weight: 800;
	font-size: 1.05rem;
	text-align: center;
	margin: 0 auto 1rem auto;
}

.formPokemon .advices {
	color: gold;
	font-weight: 800;
	font-size: 1.05rem;
	text-align: center;
	margin: 0 auto 1rem auto;
}

/* CHECKBOX SECTION - TYPES */

.formPokemon .checkboxes p {
	margin-bottom: 0.8rem;
	font-weight: 700;
}

.formPokemon .checkboxes label {
	display: flex;
}

.formPokemon .input-checkbox {
	display: inline-block;
	margin-right: 0.5rem;
	min-height: 1rem;
	min-width: 1.5rem;
}

/* SELECT INPUT - TYPES */

.formPokemon .select-input {
	width: 100%;
	margin: 0.5rem auto 0;
	display: block;
}

.formPokemon .select-input option {
	padding: 0.3rem;
	border: thin solid;
	font-size: 1rem;
	color: #000;
	background-color: none;
}

/* BUTTON SUBMIT */

.formPokemon button {
	padding: 0.5rem;
	width: 30%;
	margin: 2rem auto 0;
	border: medium solid #000;
	font-size: 1.2rem;
	color: #000;
	background-color: #33f399;
	display: block;

	transition: filter 0.5s ease-in-out;

	&:hover {
		cursor: pointer;
		filter: brightness(80%);
	}
}

.formPokemon button.disabled {
	filter: grayscale(100%);
	cursor: default;
}
